@using System.Linq;

@model System.Collections.Generic.IEnumerable<Borentra.Models.ItemRental>

@{
    ViewBag.Title = "Community Rentals";
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}

<div class="admin-reports">
    <div class="row">
        <div class="col-xs-10">
            @if (0 < Model.Count())
            {
                <div class="page-header">
                    <h1>Community Rentals <small>@Model.Count()</small></h1>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Owner</th>
                            <th>Renter</th>
                            <th>Fee</th>
                            <th>Gross</th>
                            <th>Item</th>
                            <th>Status</th>
                            <th>Dates</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var share in Model)
                        {
                            <tr>
                                <td>
                                    <a href="/profile/@share.OwnerKey" target="_blank">@share.OwnerDisplayName</a>
                                </td>
                                <td>
                                    <a href="/profile/@share.RequesterKey" target="_blank">@share.RequesterDisplayName</a>
                                </td>
                                <td>
                                    @share.Price.ToString("$0.00")
                                </td>
                                <td>
                                    @((share.Price * new decimal(.1)).ToString("$0.00"))
                                </td>
                                <td>
                                    <a href="/offer/@share.ItemKey" target="_blank">@share.ItemTitle</a>
                                </td>
                                <td>@share.Status</td>
                                <td>@share.On.ToShortDateString() - @share.ReturnedOn</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="col-xs-2">
            @Html.Partial("~/Views/Shared/Admin/_AdminMenu.cshtml")
        </div>
    </div>
</div>